.titlediv {
    background-color: rgba(229,244,253,0.90);
    height: 7%;
    width: 100%;
    padding: 0px;
    text-align: center;
    margin: auto;
}
.logo {
    float: left;
    height: 93%;
    margin-left: 0.32%;
    margin-top: 0.16%;
}
.titlediv_ul {
    list-style-type: none;
    margin-left: auto;
    transition:all 0.2s;
    height: 100%;
}
.titlediv_ul > li {
    margin-right: 1.6%;
    margin-left: auto;
    margin-top: 0px;
    display: inline-block;
    border-radius: 1%;
    height: 60%;
}
.drop-down > a {
    line-height: 60px;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.90);
    text-decoration: none;
}
.drop-down > a:hover {
    width: 5%;
    color: #60baed;
}
.drop-down {
    position: relative;
    transition:all 0.2s;
}
.drop-down-content {
    display: none;
    padding: 5%;
    border-radius: 1%;
    transition:all 0.2s;
}
.drop-down-content > li {
    list-style-type: none;
}
.drop-down:hover .drop-down-content {
    display: block;
    background-color: rgba(229,244,253,0.80);
    transition:all 1s;
}
.drop-down-content > li > a {
    display: block;
    line-height: 60px;
    font-size: 14px;
    color: rgba(31, 31, 31, 0.80);
    text-decoration: none;
}
.drop-down-content > li > a:hover {
    color: #60baed;
}
.nodrop{
    margin-right: 200%;
    height: 60%;
    padding: 1%;
    border-radius: 1%;
}
.nodrop > a {
    font-size: 14px;
    color: rgba(31, 31, 31, 0.90);
    text-decoration: none;
    transition:all 0.2s;
}
.nodrop > a:hover {
    color: #60baed;
}